html{
    margin: 0;
    padding: 0;
    background-color: black;
    background: linear-gradient(150deg, rgba(0,0,0) 0%, rgb(23, 49, 73) 100%, rgba(0,0,0,1) 100%) no-repeat;
    min-height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(108, 132, 159);;
}

.intro{
    display: flex;
    margin-inline: 90px;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
}
.navlinks{
    display: flex;
    justify-content: space-between;
}
a{ 
    color: rgb(117, 154, 196);
    text-decoration: none;
    border: 1px solid rgb(117, 154, 196);
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
a:hover{
    background-color: rgb(117, 154, 196);
    color: rgb(23, 49, 73);
    transform: scale(1.2);
    box-shadow: 0px 10px 20px rgba(8, 223, 243, 0.322);
}
h1{
    font-size: 35px;
}
.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.components{
    margin: 60px;
    height: 400px;
    width: 360px;
    border: 3px solid rgb(161, 161, 220);
    border-radius: 20px;
    display: flex;

    align-items: center;
    flex-direction: column;
}
.components > img{
    width: 150px;
}
#p_main{
    font-size: 20px;
    padding: 60px;
    margin-top: 75px;
    font-size: 20px;
    text-align: center
}
#p_how{
    font-size: 18px;
    padding: 60px;
}
details{
    font-size: 30px;
}
.summary{
    font-size: 20px;
    padding: 10px;
}